.themeFooter {
    background: white;
    margin: 0 32px;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    color: #1559ED;
    font-family: 'Poppins';
    font-weight: 500;
}