/* Universal reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Reset images to avoid weird spacing */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset form inputs */
input, button, textarea {
  border: none;
  outline: none;
  font: inherit;
}
body {
  background-color: #F9FAFB;
}


.search-mobile {
  background-color: #1559ED;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  svg {
    fill: white;
  }
}