.dashboardPage {
    padding: 32px 32px;
    .section_1 {
        .sales {
            background-color: white;
            padding: 32px 32px;
            border-radius: 20px;
            .sales-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    color: #737791;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Poppins",sans-serif;
                }
                button {
                    padding: 10px 16px;
                    color: #0F3659;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #C3D3E2;
                    background: transparent;
                    border-radius: 8px;
                    font-family: "Poppins",sans-serif;
                    font-weight: 500;
                    &:hover {
                        cursor: pointer;
                        background-color: #1559ED;
                        color: white;
                        border: 1px solid white;
                        img {
                            filter: brightness(1000);
                        }
                    }
                    img {
                        padding-right: 8px;
                    }
                }
            }
            .sales-cards {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                margin-top: 43px;
            } 
        }
        .visitorInsights {
            padding: 20px 20px;
            background-color: white;
            border-radius: 20px;
            height: 100%;
            width: 100%;
            .MuiChartsLegend-root {
                display: none;
            }
            .visitorLable {
                color: #464E5F;
                font-size: 12px;
                font-family: "Poppins",sans-serif;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    margin-right: 12px;
                    .loyal {
                            background-color: #A700FF;
                            height: 12px;
                            width: 12px;
                            border-radius: 2px;
                            display: inline-block;
                            margin-right: 4px;
                            position: relative;
                            top: 2px;
                        }
                       .new{
                            background-color: #EF4444;
                            height: 12px;
                            width: 12px;
                            border-radius: 2px;
                            display: inline-block;
                            margin-right: 4px;
                            position: relative;
                            top: 2px;
                        }
                        .unique{
                            background-color: #3CD856;
                            height: 12px;
                            width: 12px;
                            border-radius: 2px;
                            display: inline-block;
                            margin-right: 4px;
                            position: relative;
                            top: 2px;
                        }

                }
            }
            .MuiChartsAxis-tickLabel {
                    fill: #7B91B0 !important;
                    font-size: 12px;
        
            }
        }
    }  
    .section_2 {
        margin-top: 32px;
        .totalRevenue {
            background-color: white;
            padding: 20px 20px;
            border-radius: 20px;
            .MuiChartsAxis-tickLabel{
                fill:#7B91B0;
            }
            .MuiChartsLegend-root {
                transform: translate(0, 280px) !important;
                font-size: 12px;
                height: 12px;
                display: none;
                .MuiChartsLegend-series {
                    height: 12px !important;
                }
                rect {
                    height: 12px;
                    width: 12px;
                    border-radius: 2px;
                }
            }
            .totalRevenueLable {
                color: #464E5F;
                font-size: 12px;
                font-family: "Poppins",sans-serif;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    margin-right: 12px;
                    .loyal {
                            background-color: #2E96FF;
                            height: 12px;
                            width: 12px;
                            border-radius: 2px;
                            display: inline-block;
                            margin-right: 4px;
                            position: relative;
                            top: 2px;
                        }
                       .new{
                            background-color: #02B2AF;
                            height: 12px;
                            width: 12px;
                            border-radius: 2px;
                            display: inline-block;
                            margin-right: 4px;
                            position: relative;
                            top: 2px;
                        }
                    }
            }
        }
        .customerSatisfaction {
            background-color: white;
            width: 100%;
            height: 100%;
            padding: 20px;
            border-radius: 20px;
        }
        .targetReality {
            padding: 20px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: white;
            .targetRealityContent {
                display: flex;
                align-items: center;
                .icon {
                    margin-right: 10px;
                }
                &.TRC--1 {
                    margin-bottom: 15px;
                    .icon {
                        height: 36px;
                        width: 36px;
                        background-color: #E2FFF3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        margin-right: 10px;
                        img {
                            height: 17.28px;
                            width: 17.28px;
                            
                        }
                    }
                    .ratio {
                        color: #27AE60;
                    }
                }
                &.TRC--2 {
                    .icon {
                        height: 36px;
                        width: 36px;
                        background-color: #FFF4DE;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        img {
                            height: 17.28px;
                            width: 17.28px;
                            
                        }
                    }
                    .ratio {
                        color: #FFA412;
                    } 
                }
                .text {
                    h4 {
                        color: #151D48;
                        font-size: 12px;
                        font-family: "Poppins",sans-serif;
                        font-weight: 600;
                    }
                    h6 {
                        color: #737791;
                        font-size: 10px;
                        font-family: "Poppins",sans-serif;
                        font-weight: 400;
                    }
                }
                .ratio {
                    font-size: 14px;
                    font-family: "Poppins",sans-serif;
                    font-weight: 500;
                    margin-left: 73px;
                }
            
            }
        }
    }
    .section_3 {
        margin-top: 32px;
        .topProductBox {
            background-color: white;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            .theme-heading {
                padding: 20px 15px 20px 20px;
            }
        }
        .mappingCountry {
            padding: 20px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: white;
            .theme-heading {
                padding-bottom: 20px;
            }
        }
        .volumeServices {
            padding: 20px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: white;
        }
    }     
}